*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    max-width: 1200px;
    margin: auto;
}


.type-section{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-evenly;
    .card{
        margin: 30px 10px;
        width: calc(100% / 3 - 30px);
        >img{
            max-width: 100%;
        }
    }
}